.slider {
    position: relative;
    width: 200px;
    max-width: 800px;
    margin: 20px;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 00.5s ease;
}

.slides img {
    width: 100%;
    flex-shrink: 0;
}

@media (max-width: 600px) {
    .slider {
        max-width: 100%;
    }
}
