.hero {
    text-align: center;
    padding: 2em;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1em;
}

.tagline {
    font-size: 1.2em;
    color: #666;
}

.bio {
    max-width: 400px;
    margin: 1em auto;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background: #333;
    padding: 1em;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

footer {
    text-align: center;
    padding: 1em;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 300px;
}

@media (max-width: 500px) {
    header nav ul {
        flex-direction: row;
        align-items: center;
    }
    .teachers-grid {
        grid-template-columns: 1fr;
    }
}